@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.AboutAreaWrapper {
	margin: auto;
	margin-top: 5%;
	width: 50%;
}

.AboutArea {
	display: flex;
	flex-direction: column;
}

.AboutTitle {
	margin-left: 20px;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	opacity: 0; /* for animation */
}

.AboutPaper {
	margin-top: 2%;
	background-color: rgb(240, 240, 240);
	border-radius: 6px;
	padding: 20px;
	font-size: 1em;
	text-align: left;
	opacity: 0; /* for animation */
}
