@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.SafetyAreaWrapper {
  margin: auto; 
  margin-top: 5%;
  width: 50%;
}

.SafetyArea {
  display: flex;
  flex-direction: column;
}

.SafetyTitle {
  margin-left: 20px;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  opacity: 0; /* for animation */
}

.SafetyPaper {
  margin-top: 2%;
  background-color: rgb(240, 240, 240);
  border-radius: 6px;
  padding: 20px;
  font-size: 1em;
  text-align: left;
  opacity: 0; /* for animation */
}