@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

.BodyArea {
    background-color: rgba(255, 225, 187, 0.527);
    height: 750px;
}

.BodyMainText {
    margin-top: 5%;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3em;
    color: rgba(82, 12, 46, 0.76);
    opacity: 0; /* for animation */
}

.CreateAccountButton {
    margin: auto;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    border-radius: 8px;
    width: 180px;
    text-align: center;
    background-color: rgb(0, 129, 112);
    opacity: 0; /* for animation */
}

.CreateAccountButton:hover {
    transition-duration: 0.4s;
    background-color: rgb(0, 94, 81);
}

.CreateAccountButtonArea {
    padding: 10px;
    color: #ffffff;
}

.BodySubtext {
    position: absolute;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.2em;
    color: rgb(151, 151, 151);
    opacity: 0;
}

.InvitationRectangle {
    width: 100%;
    height: 0; /* for animation */
    background-color: rgba(255, 205, 164, 0.527);
}

.InvitationTriangle {
    width: 100%;
    height: 0; /* for animation */
    background-image:
        linear-gradient(to top left, transparent 50%, rgba(255, 205, 164, 0.527) 0),
        linear-gradient(to bottom left, rgba(255, 205, 164, 0.527) 50%, transparent 0);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right, left;
}