@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.CreateArea {
  width: 100%;
  padding-right: 9%;
}

.CreateFormArea {
  margin: 5% 5% 0 11%;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.CreateFormRow {
  padding: 2% 2% 1% 2%;
  display: flex;
  /* border: 1px solid red; */
}

.CreateFormRow.Time {
  padding-top: 1.5%;
}

.CreateFormRowTitle {
  padding-top: 7px;
  width: 150px;
  font-size: 1.3em;
  font-family: 'Quicksand', sans-serif;
}

.CreateFormRowTitle.Time {
  padding-top: 12px;
}

.CreateFormRowTitle.Tags {
  padding-top: 3px;
}

.CreateFormRowInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  width: 65%;
  height: 18px;
}

.CreateFormRowInput.Price {
  width: 10%;
}

.CreateFormRowInput.Tag {
  width: 10%;
  height: 12px;
}


.CreateFormInputAreaAddress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.CreateFormInputAreaRowAddress {
  display: flex;
  justify-content: space-between;
}

.CreateFormInputAreaRowAddress.AddressFirst {
  margin-bottom: 1.5%;
}

.CreateFormRowInputAddress {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  width: 100%;
  height: 18px;
  margin-right: 20px;
}

.CreateFormInputAreaTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CreateFormDateTime {
  background-color: white;
  border-radius: 5px;
}

.CreateFormTimeBetweenText {
  margin: 0 16px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
}

.CreateFormInputProof {
  margin-top: 20px;
}