@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.DashboardArea {
  height: 90vh;
  display: flex;
}

.DashboardTitleDescriptionAreaWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.DashboardTitleDescriptionArea {
  margin-top: 15px;
  margin-left: 15px;
  padding: 0 15px 0 15px;
  border-right: 1px solid rgb(179, 179, 179);
  border-left: 1px solid rgb(179, 179, 179);
  font-family: 'Lato', sans-serif;
  color: rgb(65, 65, 65);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0; /* for animation */
}

.DashboardTitleText {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: rgb(50, 0, 50);
}

.DashboardTitleDot:after {
  margin: auto;
  margin-left: 10px;
  font-size: 2em;
  content: " \B7 ";
}

.DashboardDescriptionText {
  margin: auto;
  margin-left: 10px;
  font-size: 1.5em;
}