.ExploreArea {
  width: 100%;
  padding-right: 9%;
}

.ExploreToolbarArea {
  margin: 3% 0 0 8%;
  display: flex;
  justify-content: space-between;
}

.ExploreToolbarSearch {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  width: 40%;
}

.ExploreToolbarSelect {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b1b1b1;
  width: 20%;
}

.ExploreEntryArea {
  margin-top: 3%;
  padding: 0 0 0 8%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 65%;
  overflow-y: scroll;
  overflow-x: hidden;
}