@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.ExploreEntryPaper {
  padding: 10px;
  min-height: 180px;
  height: 180px;
  background-color: rgb(245, 245, 245);
  margin-bottom: 3%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Quicksand', sans-serif;
}

.ExploreEntryPaper:hover {
  box-shadow: 2px 2px #c9c9c9;
  transition-duration: 0.2s;
}

.ExploreEntryProfileAreaWrapper {
  width: 15%;
  border-right: 1px rgb(206, 206, 206) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ExploreEntryProfileArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ExploreEntryProfileImage {
  margin: auto;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px rgb(218, 217, 217) solid;
}

.ExploreEntryProfileText {
  margin-top: 10px;
  text-align: center;
  font-size: 1em;
}

.ExploreEntryProfileStars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ExploreEntryRightArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ExploreEntryDescriptionArea {
  margin-left: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ExploreEntryDescriptionTitle {
  height: 40%;
  margin-right: 4%;
  border-bottom: 1px rgb(218, 217, 217) solid;
}

.ExploreEntryDescriptionTitleMain {
  font-size: 1.4em;
  font-weight: bold;
}

.ExploreEntryDescriptionTitleSub {
  margin-right: 5%;
  font-size: 1em;
  overflow-x: scroll;
  padding-bottom: 2%;
}

.ExploreEntryDescriptionLogistics {
  width: 100%;
  margin-top: 1%;
  color: rgb(80, 80, 80);
  display: flex;
}

.ExploreEntryDot:after {
  margin: auto;
  margin: 0 5px 0 5px;
  font-size: 1em;
  font-weight: bold;
  content: " \B7 ";
}

.ExploreEntryDescriptionLogistics {
  width: 100%;
  margin-top: 1%;
  color: rgb(80, 80, 80);
  display: flex;
}

.ExploreEntryDescriptionBottomArea {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ExploreEntryDescriptionTagWrapper {
  margin-top: 0.5%;
  padding-right: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.ExploreEntryDescriptionTagTitle {
  font-style: italic;
}

.ExploreEntryDescriptionTagArea {
  margin-left: 2%;
  max-width: 750px;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
}

.ExploreEntryTag {
  margin-right: 10px;
  background-color: rgb(215, 215, 215);
  padding: 4px 6px 4px 6px;
  border-radius: 5px;
}

.ExploreEntrySeeMoreArea {
  display: flex;
  flex-direction: row-reverse;
}

.ExploreEntrySeeMore {
  margin: 0 2% 1% 0;
  color: rgb(0, 0, 169);
}